.name{
    font-family: 'Courgette', cursive;
    font-size: 4em;
    text-align: center;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
}

.figContainer{
    /* margin-bottom: 1rem; */
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    box-sizing: border-box;  
}

figure{
    border: solid 6px black;
    background-color: rgb(255, 255, 255);
    
    position: relative;

    height: auto;
    width: auto;

    /* margin: auto; */
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    max-height: 50vh;

    object-fit: fill;

    padding: 0;
    margin: 0;
}

.figCap{
    text-align: center;

    width: 100%;
    background-color: silver;

    position: absolute;
    left: 0;
    bottom: 0;
}
/* Min trigger when screen is greater than 
    Min-width == 600
    screen = 601 

    Max trigger when screen is less than

    Common break points: 600px, 768px, 992px
*/


/* X-Small 438 */



  /* Small */
  /* Display content inline */
  @media screen and (max-width: 700px) {
    .figContainer {
        /* height: 50vh;     */
    }

    figure{
        /* max-height: 100%;
        max-width: 100%; */
    }

    img{
        /* max-height: 50vh;
        width: 100%; */
    }
  }

  /* Medium 694 */
  @media screen and (max-width: 694px) {

  }


  /* @media screen and (max-width: 700px) {
    .figContainer {
        width: auto;
        max-height: 50vh;
    }

    img {
        width: 100%;
        object-fit: contain;
    }
  } */